<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Studetns</title>
</head>
<body>

<a th:href="@{/homepage}">Home</a>
<a th:href="@{/students/by_student}"> Search your courses</a>
<a th:href="@{/students/by_course}"> Search students in courses</a>
<a th:href="@{/students}"> See all students</a>
<a th:href="@{/courses}"> Search all courses </a>
<a th:href="@{/students/by_course_name}"> Search all students by course name </a>
<a th:href="@{/students/by_student_details}"> Search all courses by student details </a>



<div id="courseDiv">
    <h2>Course info</h2>
    <div th:each="course : ${courses}">
        <p th:text="${course.name}"></p>
        <p th:text="${course.description}"></p>
    </div>
</div>


<div>
    <div th:each="course : ${courseSearch}">
        <p th:text="${course.name}"></p>
        <p th:text="${course.description}"></p>
    </div>
</div>



<h2> Search courses</h2>
<div class="specificCourseSearch">
    <form th:action="@{/courses/searchAllCourses}" method="get">
        <input type="text" name="query" placeholder="Search after name or description">
        <button type="submit">Sök</button> <!--javascript ajax kanske?-->
    </form>
</div>

</body>
</html>