<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>fel!!</h1>
<a th:href="@{/homepage}">Home</a>
<a th:href="@{/students/by_student}"> Search your courses</a>
<a th:href="@{/students/by_course}"> Search students in courses</a>
<a th:href="@{/students/students}"> Search all students</a>
<a th:href="@{/students/courses}"> Search all courses </a>
<a th:href="@{/students/by_course_name}"> Search all students by course name </a>

</body>
</html>