<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Studetns</title>
</head>
<body>
<h2>Student info</h2>
<div th:each="student : ${students}">
    <p th:text="${student.fName}"></p>
    <p th:text="${student.lName}"></p>

</div>
<button class="button">Show all students</button> <!-- skriv in javascript sen -->

<h2> Sök efter särskild info</h2>
<div class="specificSearch">
    <form th:action="@{/search}" method="get">
        <input type="text" name="query" placeholder="Sök efter särskild kriteria">
        <button type="submit">Sök</button> <!--javascript -->
    </form>

</div>
</body>
</html>