<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<a th:href="@{/homepage}">Home</a>
<a th:href="@{/students/by_student}"> Search your courses</a>
<a th:href="@{/students/by_course}"> Search students in courses</a>
<a th:href="@{/students}"> See all students</a>
<a th:href="@{/courses}"> Search all courses </a>
<a th:href="@{/students/by_course_name}"> Search all students by course name </a>
<a th:href="@{/students/by_student_details}"> Search all courses by student details </a>


<h1>Students by course name</h1>
<div th:if="${!studentsByName.isEmpty()}">
  <ul>
<li th:each="student : ${studentsByName}" th:text="${student.fName} + ' ' + ${student.lName}"></li>
  </ul>
</div>

<div th:if="${studentsByName.isEmpty()}">
  <p>Nothing found!</p>
</div>

</body>
</html>