<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Studetns</title>
</head>
<body>
<h2>Student info</h2>
<div th:each="student : ${students}">
    <p th:text="${student.fName}"></p>
    <p th:text="${student.lName}"></p>
</div>
<button class="button">Show all students</button> <!-- skriv in javascript sen -->

<!-- anvönd javascript så den visar när man trycker men dölher andrA? annars tåv sidor -->
<div id="courseDiv">
    <h2>Kurs info</h2>
    <div th:each="course : ${courses}">
        <p th:text="${course.name}"></p>
        <p th:text="${course.description}"></p>
    </div>
</div>

<button class="button">Show all students</button>
<h2> Sök efter särskild info</h2>
<div class="specificSearch">
    <form th:action="@{/searchedStudents}" method="get">
        <input type="text" name="query" placeholder="Sök efter särskild kriteria">
        <button type="submit">Sök</button> <!--javascript -->
    </form>

</div>
</body>
</html>