<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/homepage}">Home</a>
<a th:href="@{/students/by_student}"> Search your courses</a>
<a th:href="@{/students/by_course}"> Search students in courses</a>
<a th:href="@{/students}"> See all students</a>
<a th:href="@{/courses}"> Search all courses </a>
<a th:href="@{/students/by_course_name}"> Search all students by course name </a>
<a th:href="@{/students/by_student_details}"> Search all courses by student details </a>


<div id="courseDiv">
    <h2>All associations by ID</h2>
    <table>
        <thead>
        <th>ID</th>
        <th>Student ID</th>
        <th>Course ID</th>
        </thead>
        <tbody>
        <tr th:each="association : ${assocations}">
            <td th:text="${association.id}"></td>
            <td th:text="${association.student.id}"></td>
            <td th:text="${association.course.id}"></td>
        </tr>
        </tbody>
    </table>
</div>

<h1>Search for Students by course name</h1>
<form th:action="@{/students/by-course-name}" method="get">
    <label for="name">Course Name: </label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Search!</button>

</form>
</body>
</html>